{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}フォームの表示テスト{% endblock %}</title>
<!-- BootstrapやJqueryなどを全体的に使う場合ここにかく -->
<!-- BootstrapやJqueryなどを全体的に使う場合ここにかく -->

{% block extfiles %}
{% endblock %}
{% block content %}
<!-- ここにメインコンテンツを書く -->
        {{ content }}
{% endblock %}
{% block footer %}
{% endblock %}
  </body>
</html>
